@import url(https://fonts.gstatic.com/s/opensans/v34/memQYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWq8tWZ0Pw86hd0Rk8ZkWVAewA.woff);


*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style:none;
	border: none;
	outline: none;
}

body {
    margin: 10%;
}

body, html {
	width:100%;
	height:100%;
}

.buttons {
	width:74%;
}
.navbar-custom .navbar-brand.logo-image img {
    width: 6.6875rem;
    height: 2.25rem;
	
}


h1 {
    font-weight: bold;
}

.btn {
    border-radius:2rem !important;
	/*background-color: #FF556E !important;*/
}

.navbar-custom{
	background-color: #F7FAFD;
}
.bg-section-primary {
	background-color: #F7FAFD;
}

.img-fluid{
	max-width:100%;
	height:auto;
}

.iphone {
	position:relative;
	z-index:3;
	max-width:58rem;
	animation-play-state: running;
}
.green-diamond {
	position:absolute;
	top:5rem;
	width: 20px;
	height: 20px;
	animation: animate 3s linear infinite;
}

.yellow-circle {
	position: absolute;
	top:10rem;
	right: 10rem;
	width: 40px;
	height: 40px;
	animation: animate 3s linear infinite;
}

.white-left-circle {
	position: absolute;
	top: 10rem;
	left: -27rem;
	width:640px;
	height:640px;
	z-index:1;
}

.white-right-circle {
	position: absolute;
	top: 15rem;
	right: -15rem;
	width:408px;
	height:408px;
	z-index:1;
}

.blue-circle {
	position: absolute;
	top: 25rem;
	left: 15rem;
	width:96px;
	height:96px;
	z-index:2;
	animation: animate 3s linear infinite;
}

@keyframes animate{
	0%{
		filter: hue-rotate(0deg);
	}
	100%{
		filter: hue-rotate(360deg);
	}
}

.row{
	animation-duration: 3s;
  	animation-name: slidein;
  	animation-iteration-count: 3;
  	animation-direction: alternate;
}

.screenshot1 {
	max-height: 80%;
}

.screenshot2 {
	max-height: 40%;
	z-index:1;
}

.text2 {
	z-index:2;
}

.buttons {
	width:100%;
}

.screenCont1:hover .screenshot1 {-webkit-transform:scale(1.3);transform:scale(1.3);}
.screenCont1 {overflow:hidden;}

.screenCont2:hover .screenshot2 {-webkit-transform:scale(1.3);transform:scale(1.3);}
.screenCont1 {overflow:hidden;}

@keyframes slidein {
	from {
	  margin-left:100%;
	  width:300%
	}
  
	to {
	 margin-left:0%;
	 width:100%;
   }
  }
